@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'DynaPuff', cursive;
  background: linear-gradient(103deg, #8ac9d9 0%, #d09fed 100%);
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}